/* HERO */
.hero {
    text-align: center;
    padding: 60px 20px;
    background: radial-gradient(circle at top, #020617, #000);
}

/* BUTTON */
.buttons {
    margin-top: 15px;
}

.btn {
    padding: 10px 20px;
    background: linear-gradient(135deg, #00f2fe, #4facfe);
    color: white;
    border-radius: 25px;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.1);
}

/* PROJECT GRID */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
}

.card {
    background: #1e293b;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 15px;
    background: black;
}

/* ICONS */
.socials {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.icon {
    width: 22px;
    height: 22px;
}
